
.table-container {
  max-width: 80%;
  margin: 20px auto;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}


@media (max-width: 768px) {
  .table-container {
    max-width: 95%;
  }
}
table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #4CAF50;
  color: white;
  padding: 8px;
  text-align: left;
}

td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}



fa-icon {
  font-size: 24px;
}

td:last-child {
  font-weight: bold;
  color: #388E3C;
}

.mat-elevation-z8 {
  box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
}
